
# dependencies
/node_modules
/assistance-management-system
/assistance-management-system/.pnp
/assistance-management-system/.pnp.js
/frontend
/backend_for_Anthony


# production
/frontend/build

# misc
.DS_Store
/backend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*git